
@model Instructor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDetails</title>
</head>
<body>
    <p> <label asp-for="@Model.FirstName"></label> @Html.DisplayFor(m => m.FirstName)</p>
    <p> <label asp-for="@Model.LastName"></label>@Html.DisplayFor(m => m.LastName)</p>
    <p> <label asp-for="@Model.Rank"></label> @Html.DisplayFor(m => m.Rank)</p>
    <p> <label asp-for="@Model.HiringDate"></label> @Html.DisplayFor(m => m.HiringDate)</p>
    <p> <label asp-for="@Model.isTenured"></label> @Html.DisplayFor(m => m.isTenured)</p>
</body>
</html>
